#making-history {
  background-color: #e0e0e0;
  padding: 70px 0;
  h2 {
    color: #3a3a3a;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 30px;
  }
  p {
    color: #4a5255;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 40px;
  }
}
