<!--<div *ngFor="let launch of launches">
  <app-launch [launch]= "launch"></app-launch>
</div>-->

<mat-card  *ngIf="pastLaunches">
  <mat-card-content>
    <mat-tab-group (selectedTabChange)="loadMissions($event)" [selectedIndex]=0 >
      <mat-tab label="Past">
        <ng-template mat-tab-label>
          <span matBadge={{pastLaunches.length}} matBadgeOverlap="false" matBadgeColor="accent">Past</span>
        </ng-template>
        <mat-nav-list>
          <app-launch *ngFor="let launch of pastLaunches" [launch]="launch"></app-launch>
        </mat-nav-list>
      </mat-tab>
      <mat-tab label="Upcoming" active>
          <ng-template mat-tab-label>
            <span matBadge={{upcomingLaunches.length}} matBadgeOverlap="false" matBadgeColor="accent">Upcoming</span>
          </ng-template>
          <mat-nav-list>
            <app-launch *ngFor="let launch of upcomingLaunches" [launch]="launch"></app-launch>
          </mat-nav-list>
        </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>