#launch-timer {
  background-image: url('https://preview.ibb.co/ieOjQ8/ses_12_vab_1.jpg');
  background-size: cover;
  height: 100vh;
  background-position: bottom center;
  padding-top: 15vh;
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 20px;
    color: #fff;
  }
}
