countdown-timer {
  background: rgba(24,28,31,0.8);
  width: 80%;
  display: block;
  margin: 0 auto;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  letter-spacing: .4em;
  font-weight: bold;
  font-size: 40px;
}




