<section id="summary">
  <div class="container">
     <p>{{companyInfo.summary}}</p>
    <article>
      <div class="row">
        <div class="col-md-3">
          <h3>Quick facts about {{companyInfo.name}} :</h3>
        </div>
        <div class="col-md-3">
          <h2>Founded</h2>
          <p>{{companyInfo.founded}}</p>
        </div>
        <div class="col-md-3">
          <h2>Vehicules</h2>
          <p>{{companyInfo.vehicles}}</p>
        </div>
        <div class="col-md-3">
          <h2>Employees</h2>
          <p>{{companyInfo.employees}}</p>
        </div>
      </div>
    </article>
  </div>
</section>
